<div class="container">

	<h1>Menu</h1>

	<br>
	<p><%= link_to 'Create New Member Into Cloudant', '/documents/new' %></p>
	<p><%= link_to 'Look Up Member Info From Cloudant', '/documents/show' %></p>
	<p><%= link_to 'Modify Member Info In Cloudant', '/documents/update' %></p>


</div>