<div class="container">

  <h1>Edit Existing Member</h1>

  <%= simple_form_for :search do |f| %>
    <%= f.input :search_type, label: 'Search Method', as: :select, collection: ["BARCODE", "MEMBER_NUMBER_UNIQUE", "EMAIL_ADDRESS"] %>
	<%= f.input :input, label: 'Input' %>
    <%= f.button :submit, 'Look-up For Member Existence', id: 'submitButtonId', data: { disable_with: 'Please Wait...' } %>
  <% end %>

</div>