<div class="container">

	<h1><%= "Created New Member (Barcode " + params[:document]['barcode'] + ')' %> </h1>

	<% @response.each do |elem| %>
		<strong><%= elem.at(0) %></strong><%=" : " + elem.at(1)%><br>
	<% end %>
	
</div>