<div class="container">

  <h1>Edit Existing Member</h1>

  <%= simple_form_for @memberID do |f| %>
    <%= f.input :member_id, label: 'Member ID', id: 'text_field' %>
    <%= f.button :submit, 'Look-up For Member Existence', id: 'submitButtonId', data: { disable_with: 'Please Wait...' } %>
  <% end %>

</div>s